<form [formGroup]="antiHeroForm" class="container" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" id="firstName" type="text" class="form-control"/>
    </div>

    <div *ngIf="firstName.invalid && firstName.dirty">
        <div *ngIf="firstName.errors?.['required']" class="alert alert-danger">
            Name is required
        </div>
        <div *ngIf="firstName.errors?.['email']" class="alert alert-danger">
            Check email format
        </div>
        <div *ngIf="firstName.errors?.['hasNumbers']" class="alert alert-danger">
            Input has number/s
        </div>
    </div>
    




    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" id="lastName" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="knownAs">Known As</label>
        <input formControlName="knownAs" id="knownAs" type="text" class="form-control"/>
    </div>
    <br/>
    <div formGroupName="address">
        <div class="form-group">
            <label for="bldgNo">Bldg No</label>
            <input formControlName="bldgNo" id="knownAs" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input formControlName="city" id="city" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input formControlName="country" id="country" type="text" class="form-control"/>
        </div>
    </div>
    <br/>
    <ng-container formArrayName="powers">
        <label for="powers">Powers</label>
        <div class="input-group mb-3" *ngFor="let power of powerFormArray.controls; index as i">
            <input [formControlName]="i" class="form-control">
            <button class="btn btn-danger" (click)="deletePower(i)">Delete</button>
        </div>
        <button type="button" (click)="addPower()" class="btn btn-info">
            Add Power
        </button>
    </ng-container>
    <br/>
    <br/>
    <button type="submit" class="btn btn-info">Submit</button>
    <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>&nbsp;
    <button type="button" class="btn btn-warning" (click)="changeState()">Change State</button>
</form>